	.none-type.dropdown-menu{
	  background-color: #76abe8 !important;
	}
	section .dropdown-submenu.active > a,
	section .dropdown-submenu:hover > a{
	  background-color: #76abe8;
	}
	.dropdown-menu > li > a {
	  background: #76abe8;
	}
	.dropdown-menu > li > a:hover,
	.dropdown-menu > li > a:focus {
	  background-color: #364a61;
	}
	.dropdown-menu > .active > a,
	.dropdown-menu > .active > a:hover,
	.dropdown-menu > .active > a:focus {
	  background-color: #364a61;
	}