/* bootstrap
-------------------------------------------------- */


/* application
-------------------------------------------------- */
@media (max-width: 991px) {
	.wpml-switcher .active-flag .halflings,
	.wpml-switcher .active-flag .halflings:before{
		display: none;
	}
	.ws-dropdown{
		position: relative;
		right: auto;
		left: 0;
		top: 0 !important;
		display: inline;
		visibility: visible;
		float: none;
		opacity: 1;
		filter: alpha(opacity=100);
		padding: 0;
		margin: 0;
		background-color: transparent !important;
		color: #555;
	}
	.ws-dropdown:after{
		display: none;
	}
	.ws-dropdown ul{
		display: inline;
		margin-left: 10px;
	}
	.ws-dropdown ul li{
		display: inline-block;
		padding: 0;
		margin-right: 10px;
	}

	.right-meta,
	.wpml-switcher,
	.left-meta,
	.search-meta{
		float: none;
		border: 1px solid #ebebeb !important;
		border-bottom: none !important; 
	}
}
@media (max-width: 991px) {
	.pull-center .dropdown-menu{
		margin-left: 0 !important;
	}
}
@media (max-width: 991px) {
	.tb-t .title-subtitle{
		text-align: center;
	}
	.tb-t .title-subtitle:after{
		left: 50%;
		margin-left: -45px;
	}
	.tb-t h2{
		text-align: center;
	}
}